<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping resource="mappings/Ability.hbm.xml"/>
        <!--<mapping resource="mappings/BattleFormat.hbm.xml"/>-->
        <!--<mapping resource="mappings/Move.hbm.xml"/>-->
        <mapping resource="mappings/MoveCategory.hbm.xml"/>
        <!--<mapping resource="mappings/Species.hbm.xml"/>-->
        <!--<mapping resource="mappings/Typing.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>